* {
   box-sizing: border-box;
   -webkit-transition: all .2s;
   -moz-transition: all .2s;
   transition: all .2s;
}

.label--checkbox {
   position: relative;
   margin: .5rem;
   font-family: Arial, sans-serif;
   line-height: 135%;
   cursor: pointer;
}

.checkbox {
   position: relative;
   margin: 0 1rem 0 0;
   cursor: pointer;
}

.checkbox:before {
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   content: "";
   position: absolute;
   left: 0;
   z-index: 1;
   width: 1rem;
   height: 1rem;
   border: 2px solid grey
}

.checkbox:checked:before {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   height: .5rem;
   border-color: #009688;
   border-top-style: none;
   border-right-style: none;
}

.checkbox:after {
   content: "";
   position: absolute;
   top: -0.125rem;
   left: 0;
   width: 1.1rem;
   height: 1.1rem;
   background: #fff;
   cursor: pointer;
}

.list {
   display: inline-block;
   width: 85%
}

.cross {
   display: inline-block;
   width: 24px;
   height: 24px;
   cursor: pointer;
   background: url(cross.svg);
   color: black;
}

.strike {
   text-decoration: line-through
}